In [16]:
import pandas as pd
df4 = pd.read_csv("https://raw.githubusercontent.com/bartpiel/files-for-classes/refs/heads/main/Workshop-1/S1_Student_Grades_2.csv")

In [17]:
print("First 7 rows")
print(df4.head(7))

First 7 rows
       Name  S1_Grade  S2_Grade  S3_Grade  S4_Grade
0      Anna       4.0       2.0       3.0       3.0
1       Ewa       3.5       2.0       4.0       2.0
2  Krystyna       2.0       3.0       3.0       3.0
3    Dorota       2.0       5.0       4.0       5.0
4     Wanda       3.5       3.5       4.0       3.5
5     Edyta       2.0       3.0       4.0       4.0
6  Elżbieta       4.0       3.0       5.0       3.0

In [3]:
print("9 random rows")
print(df4.sample(9))

9 random rows
          Name  S1_Grade  S2_Grade  S3_Grade  S4_Grade
8   Aleksandra       4.0       3.5       5.0       3.5
17      Daniel       3.5       3.0       3.5       3.0
16      Alojzy       3.5       3.0       2.0       3.0
13   Sebastian       4.0       5.0       3.0       2.0
2     Krystyna       2.0       3.0       3.0       3.0
5        Edyta       2.0       3.0       4.0       4.0
11        Adam       2.0       3.0       4.5       3.0
21   Krzysztof       5.0       3.5       2.0       3.5
12      Bogdan       5.0       3.0       3.5       3.0

In [15]:
print("Column names")
print(list(df4.columns))

Column names
['Name', 'S1_Grade', 'S2_Grade', 'S3_Grade', 'S4_Grade', 'Diff_S1-S2']

In [6]:
print("Mean of S1_Grade")
print(df4["S1_Grade"].mean())

Mean of S1_Grade
3.5681818181818183

In [7]:
print("Median of S4_Grade")
print(df4["S4_Grade"].median())

Median of S4_Grade
3.0

In [21]:
print("Unique values in S3_Grade")
print(df4["S3_Grade"].unique())

Unique values in S3_Grade
[3.  4.  5.  2.  4.5 3.5]

In [9]:
print("Descriptive statistics")
print(df4.describe())

Descriptive statistics
        S1_Grade   S2_Grade   S3_Grade   S4_Grade
count  22.000000  22.000000  22.000000  22.000000
mean    3.568182   3.340909   3.704545   3.295455
std     0.890364   0.730074   0.983907   0.796706
min     2.000000   2.000000   2.000000   2.000000
25%     3.500000   3.000000   3.000000   3.000000
50%     3.750000   3.250000   3.750000   3.000000
75%     4.000000   3.500000   4.375000   3.500000
max     5.000000   5.000000   5.000000   5.000000

In [27]:
df4 = df4.drop('S4_Grade', axis=1)
print(df4)

          Name  S1_Grade  S2_Grade  S3_Grade  Diff_S1-S2
0         Anna       4.0       2.0       3.0         2.0
1          Ewa       3.5       2.0       4.0         1.5
2     Krystyna       2.0       3.0       3.0        -1.0
3       Dorota       2.0       5.0       4.0        -3.0
4        Wanda       3.5       3.5       4.0         0.0
5        Edyta       2.0       3.0       4.0        -1.0
6     Elżbieta       4.0       3.0       5.0         1.0
7   Małgorzata       4.0       3.5       5.0         0.5
8   Aleksandra       4.0       3.5       5.0         0.5
9       Sandra       3.5       3.0       2.0         0.5
10   Agnieszka       4.0       4.0       3.0         0.0
11        Adam       2.0       3.0       4.5        -1.0
12      Bogdan       5.0       3.0       3.5         2.0
13   Sebastian       4.0       5.0       3.0        -1.0
14  Aleksander       3.0       4.0       5.0        -1.0
15      Wojtek       4.0       3.5       3.5         0.5
16      Alojzy       3.5       3.0       2.0         0.5
17      Daniel       3.5       3.0       3.5         0.5
18      Maciej       3.5       3.5       3.5         0.0
19     Bartosz       4.0       3.5       5.0         0.5
20   Stanisław       4.5       3.0       4.0         1.5
21   Krzysztof       5.0       3.5       2.0         1.5

In [28]:
df4['Diff_S1-S2'] = df4['S1_Grade'] - df4['S2_Grade']
print(df4)

          Name  S1_Grade  S2_Grade  S3_Grade  Diff_S1-S2
0         Anna       4.0       2.0       3.0         2.0
1          Ewa       3.5       2.0       4.0         1.5
2     Krystyna       2.0       3.0       3.0        -1.0
3       Dorota       2.0       5.0       4.0        -3.0
4        Wanda       3.5       3.5       4.0         0.0
5        Edyta       2.0       3.0       4.0        -1.0
6     Elżbieta       4.0       3.0       5.0         1.0
7   Małgorzata       4.0       3.5       5.0         0.5
8   Aleksandra       4.0       3.5       5.0         0.5
9       Sandra       3.5       3.0       2.0         0.5
10   Agnieszka       4.0       4.0       3.0         0.0
11        Adam       2.0       3.0       4.5        -1.0
12      Bogdan       5.0       3.0       3.5         2.0
13   Sebastian       4.0       5.0       3.0        -1.0
14  Aleksander       3.0       4.0       5.0        -1.0
15      Wojtek       4.0       3.5       3.5         0.5
16      Alojzy       3.5       3.0       2.0         0.5
17      Daniel       3.5       3.0       3.5         0.5
18      Maciej       3.5       3.5       3.5         0.0
19     Bartosz       4.0       3.5       5.0         0.5
20   Stanisław       4.5       3.0       4.0         1.5
21   Krzysztof       5.0       3.5       2.0         1.5

In [31]:
df4['Diff_S1-S2'] = df4['S1_Grade'] - df4['S2_Grade']
df5=df4[["Name", 'Diff_S1-S2']]
df5

          Name  Diff_S1-S2
0         Anna         2.0
1          Ewa         1.5
2     Krystyna        -1.0
3       Dorota        -3.0
4        Wanda         0.0
5        Edyta        -1.0
6     Elżbieta         1.0
7   Małgorzata         0.5
8   Aleksandra         0.5
9       Sandra         0.5
10   Agnieszka         0.0
11        Adam        -1.0
12      Bogdan         2.0
13   Sebastian        -1.0
14  Aleksander        -1.0
15      Wojtek         0.5
16      Alojzy         0.5
17      Daniel         0.5
18      Maciej         0.0
19     Bartosz         0.5
20   Stanisław         1.5
21   Krzysztof         1.5

In [32]:
df5.to_csv("df5.csv")